DATABASE_URL=postgresql://postgres:password@localhost:5432/ofo_db
REDIS_URL=redis://localhost:6379
JWT_SECRET=newyear
JWT_ALGORITHM=HS256
#only for testing the web app temporary purpose,set ALLOW_DEV_OTP = true for faking otp
ALLOW_DEV_OTP=true
DEV_MASTER_OTP=123456
